<table class="table">
    <tr>
        <td>APPNAME</td>
        <td><%= @appname %></td>
    </tr>

    <tr>
        <td>HOSTNAME</td>
        <td><%= @hostname %></td>
    </tr>

    <tr>
        <td>TAG</td>
        <td><%= @tag %></td>
    </tr>

    <tr>
        <td>TIMESTAMP</td>
        <td><%= @timestamp %></td>
    </tr>

</table>